.hero {
  height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: 3rem;
  text-align: center;
  width: 60%;
  font-family: var(--font-Bobby);
}

.intro h1 span {
  text-decoration: underline;
  text-decoration-color: var(--pumpkin-spice, #e16041);
  text-decoration-thickness: 6px;
  text-underline-offset: 8px;
}

.intro p {
  padding-right: 1rem;
  text-align: center;
}

.call_to_action {
  display: flex;
  gap: 1rem;
}

.feature_reel_container {
  margin-top: 2rem;
  background-image: url("../assets/images/woodgrain-bg.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  /* Keeps everything in the center */
  display: flex;
  justify-content: center;
  align-items: center;
}
