section p {
  margin-bottom: 2rem;
}

.slides-div {
  margin-bottom: 2rem;
}
/* slider work area */
.slides-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* margin-bottom: 2rem; */
}

/* blue viewport */
.slides-viewport {
  width: 100%;
  height: 100%;
  background-color: var(--alternate-section-background);
  /* margin-bottom: 2rem; */
  border-radius: 1rem;
  border: 2px solid #ffffff;
  display: flex;
  padding: 0.5rem;
}

.box {
  outline: 2px dashed gray;
  height: 500px;
  position: relative;
}

.dot {
  width: 14px;
  height: 14px;
  border: 2px solid black;
  background-color: white;
  border-radius: 18px;

  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.box::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #666;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
