/* Normalize browser defaults first */
@import "normalize.css";
@import "./_variables.css";
@import "./_typography.css";

/* You can apply styles to the html element, such as setting a default font size or other high-level styles. */
html {
  font-size: 125%;
}

/* html,
body {
  overflow-x: hidden;
} */

/* Use a wildcard * selector to apply a basic CSS reset or normalize styles to ensure consistent rendering across browsers. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p,
li {
  font-size: 1.05rem;
}

p {
  margin-bottom: 1.2rem;
  line-height: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%; /* Makes all images become responsive if the parent container wants to shrink */
  display: block; /* removes extra padding at bottom of images */
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  /* margin: 0 auto; */
  margin-inline: auto;
  padding-inline: 1rem;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-button);
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--hover-active);
  transform: translateY(-2px);
}

.button_transparent {
  padding: 0.75rem 1.5rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
