nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  height: 15vh;
  margin: 0 20px 0 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

nav .logo {
  width: 30%;
}

/* dropdown mouseEnter/Leave area */
.nav-link {
  text-transform: uppercase;
}

.dropdown-container {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-container.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
