nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  height: 15vh;
  margin: 0 20px 0 20px;
}

nav ul {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

nav .logo {
  /* border: 1px solid green; */
  width: 30%;
}

.title {
  /* border: 1px solid yellow; */
  width: 70%;
}
