nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */

  height: 15vh;
  margin: 0 20px 0 20px;
  position: relative; /* NEW */
  z-index: 10000; /* NEW */
}

nav .logo {
  width: 60%;
  font-size: 2rem;
}

.main-nav-ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

.main-nav-ul > li {
  position: relative; /* NEW */
}

.sub-nav-link {
  /* text-transform: uppercase; */
}

.dropdown-container {
  opacity: 1;
  pointer-events: auto;
}

/* .dropdown-container.show .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */
