/* Use :root to define global variables for colors, fonts, and other values that might be reused throughout your stylesheets. */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Arial", sans-serif;
  --font-size: 1rem;
  /* colour theme */
  /* Background layers */
  --main-body-background: #f9e5c0;
  --alternate-section-background: #e4ede3;
  /* Typography */
  --headings-section-titles: #6c2a4a;
  --bodytext-longcopy: #634b42;
  --links-emphasis: #e16041;
  /* Buttons & Calls-to-Action */
  --primary-button: #e16041;
  --hover-active: #9b6a43;
  --outline-button: #f9e5c0;
  /* Cards / Containers */
  --card-background: #ffffff;
  --card-border-dividers: #e6d5c3;
  --card-text: #634b42;
  --card-icons-tags: #6c2a4a;
  /* Icons & decorative elements */
  --ui-glyphs: #a9b79e;
}

/* Apply global styles to the body element, such as default fonts, colors, and margin/padding adjustments. */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  background-color: var(--main-body-background);
  color: var(--bodytext-longcopy);
}

/* You can apply styles to the html element, such as setting a default font size or other high-level styles. */
html {
  font-size: 125%;
}

/* Use a wildcard * selector to apply a basic CSS reset or normalize styles to ensure consistent rendering across browsers. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%; /* Makes all images become responsive if the parent container wants to shrink */
  display: block; /* removes extra padding at bottom of images */
  height: auto;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
